/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body */
body {
    background-image: linear-gradient(0deg, #000000, #910e72);
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    background-size: cover;
}

#gmail-icon {
    display: block;
    width: 3vw;
    height: auto;
    margin: 0 1vw;
}

#linkedin-icon {
    display: block;
    width: 5vw;
    height: auto;
}

#github-icon,
#gitlab-icon {
    display: block;
    width: 3vw;
    height: auto;
    margin: 0 1vw; /* Add spacing between icons */
}

#phone-icon {
    display: block;
    width: 3.5vw;
    height: auto;
    margin: 0 1vw; /* Add spacing between icons */
}

.contact-icons {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

/* Start Screen */
.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(-45deg, #000000, #007700);
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover;
    text-align: center;
}

.start-screen h1,
.start-screen h2,
.start-screen h3 {
    background: linear-gradient(to left, #0066ff, #ee00ff); /* Adjust gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* For WebKit browsers */
    background-clip: text;
    color: transparent; /* For non-WebKit browsers */
}

.start-screen h1 {
    font-size: 5vw;
}

.start-screen h2 {
    font-size: 3.5vw;
}

.start-screen h3 {
    font-size: 1.5vw;
    margin-bottom: 10px;
}

.project-level-detail h2,
.skill-level-detail h2 {
    text-align: center;
    margin-top: 20px;
}

.start-btn,
.continue-btn {
    background-image: linear-gradient(to right, #00aaff, #2d49ff);
    color: #fff;
    padding: 2vh 4vw;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1vh 0; /* Adds space between the buttons */
    font-size: 1.5vw;
}

.continue-btn {
    margin-bottom: 20px;
}

.start-btn:hover,
.continue-btn:hover {
    background-color: #4da8d6;
}

.continue-btn:disabled {
    background-color: #5ac8fa;
    color: #fff;
    padding: 2vh 4vw;
    border: none;
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    margin: 10px 0; /* Adds space between the buttons */
    opacity: 0.5; /* Make it look disabled */
    font-size: 1.5vw;
}

#control-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart-btn:hover {
    background-color: #ff0000;
}

.restart-btn {
    background-image: linear-gradient(to right, #e61a1a, #b50f0f);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    margin-left: 15px;
    color: #fff;
    padding: 15px 30px;
    width: 25%;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-main-btn:hover {
    background-color: #2980b9;
}

.back-to-main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #00aaff, #2d49ff);
    margin-left: 15px;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    text-wrap: nowrap;
    width: 25%;
}

/* Game Wrapper */
#game-wrapper {
    display: block;
    padding: 2vw;

}

/* Navigation */
#game-nav {
    background-image: linear-gradient(to right, #0a4db1, #9e07a9);
    padding: 2vh 2vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    height: 10vh;
}

#game-nav .nav-links {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    display: none;
}

#game-nav .nav-active {
    display: flex;
}

.nav-inactive {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

#game-nav .nav-links li {
    width: 100%;
    text-align: center;
    margin: 20px 15px;
}

#game-nav .nav-links li a {
    color: #f0f5fa;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: color 0.3s;
}

#game-nav .nav-links li a:hover {
    color: #5ac8fa;
}

#sections {
    margin-top: 10vh;
    display: block;
    height: 100%;
}

.nav-toggle {
    background: none;
    border: none;
    color: #f0f5fa;
    font-size: 3vw;
    cursor: pointer;
    display: flex;
    z-index: 101;
    height: auto;
    width: auto;
}

.nav-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0a4db1, #9e07a9);
    z-index: 100;
    padding-top: 60px;
    transition: transform 0.3s ease;
    transform: translateY(0);
}

/* Levels */
.level {
    margin: 50px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
}


.level .level-text {
    font-size: 3vw;
    color: #5ac8fa;
}

.level .progress-text {
    font-size: 2.5vw;
    color: #5ac8fa;
}

.level p {
    font-size: 1.5vw;
    color: #dce7f0;
    margin-bottom: 2vh;
}

.section-border {
    background-image: linear-gradient(to right, #0066ff, #ff0066);
    border-radius: 10px;
    display: flex;
    margin-top: 5vh;
}

/* Level Buttons */
.level-btn {
    background-image: linear-gradient(to right, #00aaff, #2d49ff);
    color: #fff;
    padding: 1vh 2vw;
    border: none;
    border-radius: 1vw;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.level-btn:hover {
    background-color: #4da8d6;
}

.chest-icon {
    width: 50px;
    height: 50px;
    position: relative;
}

/* Education Section */
.styled-divider {
    height: 4px; /* Thickness of the divider */
    background-color: #5ac8fa; /* Color of the divider */
    margin: 20px 0; /* Spacing around the divider */
    border-radius: 2px; /* Rounded edges (optional) */
}

.education-level-detail {
    margin: 60px auto;
    padding: 20px;
    background-color: #007acc; /* Darker blue for better contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.education-level-detail h2 {
    color: #ffffff; /* White for better readability */
}

.education-level-detail p {
    color: #dce7f0; /* Lighter text for description */
    margin-bottom: 20px;
}

.education-level-detail ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    color: #ffffff; /* White text for the list */
    margin-bottom: 40px; /* Space between the college entries */
    position: relative;
}

.education-level-detail ul:last-of-type {
    margin-bottom: 0; /* Remove margin from the last ul */
}

.education-level-detail ul li {
    margin: 10px 0; /* Space between items */
}

nav #level-back-to-main #level-back-to-main-arrow {
    margin-top: 10px;
    margin-left: 10px;
}

/* Skills section */
.section-container {
    position: relative;
    margin: 5vh auto;
    margin-bottom: 20px;
    padding: 2vw;
    background-color: #007acc;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-container h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

/* Skills list styling */
.skills-list {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.6;
    color: #ffffff; /* White text */
}

/* Skill bar container */
.skill-bar-container {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
    height: 10px;
    width: 10%; /* Full width for better responsiveness */
}

/* Skill bars */
.skill-bar {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease;
}

/* Skill bar levels */
.skill-bar.beginner {
    width: 33%;
    background-color: #ff6b6b;
}

.skill-bar.intermediate {
    width: 66%;
    background-color: #f7d794;
}

.skill-bar.advanced {
    width: 100%;
    background-color: #1abc9c;
}

.project-icon {
    display: flexbox;
    width: 60px; /* Consistent icon size */
    height: 60px; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between icon and text */
    vertical-align: middle; /* Align with text */
    border-radius: 5px; /* Rounded corners for aesthetics */
    transition: transform 0.3s ease; /* Add hover effect */
}

.project-level-detail ul li .project-short-des {
    display: inline;
}

.skills-category {
    margin-bottom: 20px;
}

.project-icon:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.project-level-detail li {
    padding: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-top: 10px;
}

.project-border:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

#button-project-1 {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px;  /* Distance from the right */
}

#button-skill-1,
#button-skill-2,
#button-skill-3,
#button-skill-4,
#button-skill-5 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#button-experience-1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.skill-button,
.project-button,
.edu-button,
.experience-button {
    background-image: linear-gradient(0deg, #7a802a, #eeff00);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.skill-button:hover,
.project-button:hover,
.edu-button:hover,
.experience-button:hover {
    background-color: #2980b9; /* Darken the button color on hover */
}

.skill-button:disabled,
.project-button:disabled,
.edu-button:disabled,
.experience-button:disabled {
    background-image: linear-gradient(0deg, #5f1403, #ff1500);
    cursor: not-allowed; /* Disabled cursor */
}

.skill-button img,
.project-button img,
.edu-button img,
.experience-button img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.skill-button:hover img,
.project-button:hover img,
.edu-button:hover img,
.experience-button:hover img {
    transform: scale(1.1); /* Enlarge on hover */
}


/* Section (Experience Content) */
.experience-level-detail {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.experience-level-detail ul {
    list-style-type: none;
    padding: 0;
}

.experience-level-detail li {
    font-size: 1.2em;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #4567fc;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Adjustments to ensure dropdown doesn't interfere with alignment */
.experience-level-detail li .experience-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.experience-detail {
    display: none;
    background-color: #677bfe; /* Background for dropdown content */
    padding: 10px;
    border: 1px solid #677bfe; /* Optional: Border for dropdown */
    width: 100%; /* Make the dropdown as wide as the list item */
    margin-top: 10px;
    width: 100%;
}

.experience-level-detail li:hover .experience-detail{
    display: block
}

/* Left Alignment */
.experience-align-left {
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

/* Right Alignment */
.experience-align-right {
    text-align: right;
    display: inline-block;
}

.project-description {
    display: none;
}

.project-description p {
    display: block; /* Ensure it's a block element */
    margin: 10px 0; /* Adds vertical space between paragraphs */
    color: #ffffff; /* Optional styling */
    font-size: 16px; /* Optional font size */
}

.arrow-text {
    margin-top: 3px;
    margin-left: 10px;
    display: inline;
}

.down-arrow-img {
    width: 30px;
    height: 30px;
    display: block;
}

.drop-down-arrow {
    margin-top: 20px;
    display: flex;
}

#aframe-display {
    display: flex;
}

#aframe-image-src img {
    width: 50vw;
    height: 500px;
}

#aframe-iframe iframe {
    width: 50vw;
    height: 500px;
}

#emulator-iframe {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#emulatorjs {
    width: 80%;
    height: 100%;
    border: none;
}

#cs-2110-emulator-btn {
    position: relative;
    z-index: 10;
}

.project-border {
    background-image: linear-gradient(to right, #037a70, #06d5ec);
    border-radius: 10px;
    padding: 20px;
}